body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:60px;
  width:121px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:98px;
  width:1220px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u3 {
  position:absolute;
  left:40px;
  top:130px;
  width:110px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:169px;
  top:133px;
  width:511px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:40px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:169px;
  top:183px;
  width:291px;
  height:30px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:297px;
  height:36px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:50px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:28px;
  top:415px;
  width:1180px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1180px;
  height:1px;
}
#u14 {
  position:absolute;
  left:28px;
  top:381px;
  width:118px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:114px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:44px;
  top:309px;
  width:630px;
  height:51px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:51px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:45px;
  top:280px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:31px;
  top:442px;
  width:708px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:26px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:31px;
  top:468px;
  width:618px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:826px;
  top:442px;
  width:64px;
  height:16px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:31px;
  top:534px;
  width:708px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:31px;
  top:560px;
  width:618px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:30px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:826px;
  top:534px;
  width:64px;
  height:16px;
  color:#0000FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
