body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:60px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:40px;
  top:98px;
  width:1220px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u3 {
  position:absolute;
  left:40px;
  top:130px;
  width:110px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:169px;
  top:183px;
  width:291px;
  height:30px;
}
#u5_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:297px;
  height:36px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:35px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:50px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:309px;
  width:630px;
  height:51px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:51px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:45px;
  top:280px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:43px;
  top:370px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:45px;
  top:407px;
  width:708px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:26px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:45px;
  top:488px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u20 {
  position:absolute;
  left:50px;
  top:443px;
  width:220px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:45px;
  top:588px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:59px;
  top:681px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:60px;
  top:640px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:57px;
  top:720px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:150px;
  top:621px;
  width:158px;
  height:128px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:128px;
}
#u31 {
  position:absolute;
  left:2px;
  top:56px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:60px;
  top:760px;
  width:540px;
  height:150px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:150px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u33 {
  position:absolute;
  left:59px;
  top:945px;
  width:181px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
